@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply rounded border-2 border-neutral-200 px-3 py-2 placeholder:text-neutral-600 focus:border-tribe-500 focus:outline-none;
    }
}
